body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  margin-top: 50px;
}

.card {
  min-height: 500px;
}

.search-input {
  max-width: 230px;
}

textarea {
  resize: none;
  height: 500px;
}

.modal-body {
  text-align: start;
}

#viewTaskModal input,
#viewTaskModal textarea {
  border: none;
}

#viewTaskModal input:focus,
#viewTaskModal textarea:focus {
  outline: none;
  box-shadow: none;
}