<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Trellum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg-light">

  <div class="container py-5">
    <h2 class="text-center mb-4">Trellum</h2>
    <p class="text-center text-muted mb-5">
      🔄 You can move the task in between the collums with <strong>drag & drop</strong>.
    </p>
    <!-- Search task and Add task -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-4 d-flex">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTaskModal">
            Adauga Task
          </button>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-4 d-flex justify-content-md-end justify-content-start">
          <input type="text" class="form-control search-input" id="searchInput" placeholder="Search tasks by title...">
        </div>
      </div>
    </div>

    <!-- Show tasks -->
    <div class="row">
      {% for status, tasks in tasks_by_status.items() %}
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-header bg-secondary text-white text-center">{{ status }}</div>
          <div class="card-body" id="{{ status.replace(' ', '_') }}" data-status="{{ status }}" style="min-height: 200px;">
            {% for task in tasks %}
            <div class="mb-3 border rounded user-select-none cursor-pointer p-2 bg-light task-card" data-id="{{ task.id }}" data-title="{{ task.title }}" data-description="{{ task.description }}" data-bs-toggle="modal" data-bs-target="#viewTaskModal">
              <strong>{{ task.title }}</strong>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <!-- Modal Add Task -->
  <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form method="POST" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Adauga un nou task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Închide"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Titlu</label>
            <input type="text" class="form-control" name="title" id="title" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descriere</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Salveaza</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulează</button>
        </div>
      </form>
    </div>
  </div>


  <!-- Modal Vizualization / Edit Task -->
  <div class="modal fade" id="viewTaskModal" tabindex="-1" aria-labelledby="viewTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form method="POST" action="/edit_task" id="editForm" class="modal-content">
        <div class="modal-header">
          <input type="text" class="form-control" name="title" id="editTitle" required>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Închide"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="task_id" id="editTaskId">
          <div class="mb-3">
            <textarea class="form-control" name="description" id="editDescription" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <a id="modalDeleteLink" href="#" class="btn btn-danger">Șterge</a>
          <button type="submit" class="btn btn-primary">Salvează modificările</button>
        </div>
      </form>
    </div>
  </div>


</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>


</html>
